/node_modules
/public/hot
/public/storage
/public/archivos_lotaip
/public/imagenes_eventos
/public/imagenes_empleados
/public/**/*.*
!/public/**/*.js
!/public/Imagenes/*.*
!/public/Imagenes/utilitarios/*.*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
